body{
	width: 810px;
	margin: auto;
}

h2{
	font-size: 160%;
	color: black;
	background: #f1f1f1;
	padding: 20px 0px 20px 30px;
	margin-top: 40px;
	border-radius: 30px;
}
h3{
	font-size: 120%;
	color: black;
	border-left: 4px solid #f1f1f1;
	padding: 10px 0px 10px 30px;
	margin-top: 40px;
}
p{
	color: #484848;
	font-family: monospace;
}

